body {
  font-family: 'Montserrat',sans-serif;
}

.header {
	background:url(images/header.jpg) repeat 50% 0%;
	position:relative;
	margin:0;
	padding:0;
	border:none;
	z-index:999;
}

.header:before {
	background:#fff;
	display:block;
	width:100%;
	height:121px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
	content:'';
}

.header .container {
	background:url(images/line.gif) repeat-x 50% 100%;
	position:relative;
	padding:54px 0 0 0;
}

.header .logo {
	width:100%;
	float:none;
	margin:0 0 51px 0;
	text-align:center;
}

.header .logo p { display:none; }

.header .nav__primary { margin:0; }

.header .nav__primary.isStuck {
	background:#fff;
	right:0;
	left:0;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	text-align:center;
	z-index:999;
}

.header .nav__primary.isStuck .sf-menu {
	display:inline-block;
	float:none;
	vertical-align:top;
}

.header .nav__primary.isStuck .sf-menu > li > a {
	height:auto;
	padding-top:15px;
	padding-bottom:15px;
}
.header .nav__primary.isStuck .sf-menu > li > a:before { top:8px; }

.header .nav__primary .sf-menu { float:left; }
.header .nav__primary .sf-menu ul {
	background:url(images/sub_menu.jpg) repeat 0% 0%;
	width:116px;
	padding:21px 0 10px 0;
}
.header .nav__primary .sf-menu ul:before {
	background:url(images/menu_corner.gif) no-repeat 0% 0%;
	display:block;
	width:9px;
	height:5px;
	overflow:hidden;
	margin:0 0 0 -5px;
	position:absolute;
	top:-5px;
	left:50%;
	content:'';
}

.header .nav__primary .sf-menu > li > a:before {
	background:url(images/menu_item.gif) no-repeat 0% 0%;
	display:block;
	width:7px;
	height:4px;
	overflow:hidden;
	margin:0 0 0 -4px;
	position:absolute;
	top:28px;
	left:50%;
	content:'';
}
.header .nav__primary .sf-menu > li li {
	background:none;
	margin:0 0 12px 0;
}
.header .nav__primary .sf-menu > li li a {
	padding:0;
	border:none;
	line-height:18px;
	font-size:14px;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	color:#ccc;
}
.header .nav__primary .sf-menu > li li .sf-sub-indicator { display:none; }
.header .nav__primary .sf-menu > li li li a { color:#929292; }
.header .nav__primary .sf-menu li:hover ul, .header .nav__primary .sf-menu li.sfHover ul {
	margin:0 0 0 -58px;
	left:50%;
}
.header .nav__primary ul.sf-menu li li:hover ul, .header .nav__primary ul.sf-menu li li.sfHover ul {
	background:url(images/sub_menu_1.jpg) repeat 0% 0%;
	margin:0;
	top:-21px;
	left:116px;
}
.header .nav__primary ul.sf-menu li li:hover ul:before, .header .nav__primary ul.sf-menu li li.sfHover ul:before { display:none; }
.header .nav__primary .sf-menu > li > a:hover, .header .nav__primary .sf-menu > li.sfHover> a, .header .nav__primary .sf-menu > li.current-menu-item > a, .header .nav__primary .sf-menu > li.current_page_item > a {
	background:url(images/header.jpg) repeat 50% 0%;
	color:#fff;
}
.header .nav__primary .sf-menu li li > a:hover, .header .nav__primary .sf-menu li li.sfHover > a, .header .nav__primary .sf-menu li li.current-menu-item > a, .header .nav__primary .sf-menu li li.current_page_item > a {
	background:none;
	color:#fff;
}
.header .nav__primary .sf-sub-indicator {
	background-image:url(images/arrows-ffffff.png);
	margin:0 -5px 0 0;
	top:80px;
	right:50%;
}
.header ul.social {
	float:right;
	margin:44px 7px 0 0;
	padding:0;
}

.header ul.social li {
	display:inline-block;
	margin:0 0 0 15px;
	padding:0;
	vertical-align:top;
	list-style:none;
}

.header ul.social li a:hover {
	opacity:0.7;
	filter:alpha(opacity=70);
}

.header img.social {
	width:44px;
	height:44px;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.title-image {
  width: 60%;
  transform: rotate(0.05turn);
  position: absolute;
  right: 30%
}

.page-title {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-bottom: 2rem;
}

.title-button {
  margin-bottom: 5%;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #8f8f8f;
  font-size: 1.25rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.btn {
  margin-right: 1rem;
}

#features {
  padding: 7% 15%;
  margin: auto;
  background-color: white;
  position: relative;
}

.fa-feature {
  color: #ef8172;
  font-size: 4rem;
  padding: 1rem;
}

.fas:hover {
  color: #ff4c68;
  font-size: 4rem;
  padding: 1rem;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  padding-bottom: 3%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA section */
#cta {
  background-color: #ff4c68;
  color:#fff;
  text-align: center;
  padding: 7% 25%;
  font-size: 3rem;
}

.cta-title {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 5%
}

/* Footer Section */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 5%;
}

.fa-footer {
  padding: 0 15px 30px;
}


@media (max-width:992px) {

      .title-image {
        width: 60%;
        transform: rotate(0);
        position: static;
      }

      .title-main {
        text-align: center;
      }

}
